.services {
  padding: 16px;
  height: auto;
  max-height: unset;

  max-width: 700px;
  margin: 0 auto;
}

.service {
  place-content: flex-start space-between;
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  height: 436px;
  overflow: visible;
  padding: 30px;
  position: relative;
  width: 489px;
  margin-top: 10px;
  padding: 20px;

  --border-bottom-width: 1px;
  --border-color: var(
    --token-722aab07-d6c9-406e-acb2-56bb511802b8,
    rgb(20, 20, 20)
  );
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  background-color: var(
    --token-01186606-9ab2-44e4-944f-2c1f164eb362,
    rgb(16, 16, 16)
  );
  height: 100%;
  width: 100%;
  border-radius: 20px;
  opacity: 1;
}

.containerService {
  place-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 20px;
  height: min-content;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: 100%;
  gap: 10px;
}

.containerTs {
  place-content: center flex-start;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 10px;
  height: min-content;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: 100%;
}

.iconS {
  background-color: var(
    --token-4a36b24d-cfd5-4280-bbff-a60fd7d637e2,
    rgb(25, 25, 25)
  );
  border-radius: 10px;
  opacity: 1;

  padding: 10px;
  position: relative;
  width: auto;
}

.cajaS {
  padding: 10px;

  opacity: 1;

  place-content: center;
  align-items: center;
  display: flex;
}

.containerSvgS {
  position: absolute;
  border-radius: inherit;
  --border-bottom-width: 1px;
}

.containerSvgS img {
  width: 24px;
}

.txtService h2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;

  color: #b8b8b8;
  font-weight: 600;
  font-size: 17px;
}
.txtSp {
  font-family: "Manrope", sans-serif;
  font-style: normal;

  color: #747474;
  font-size: 14px;
}

.llamada {
  flex: 0 0 auto;
  height: auto;
  position: relative;
  width: 100%;
}

.llamada a {
  --1w5yolc: 14px;
  background-color: var(
    --token-4a36b24d-cfd5-4280-bbff-a60fd7d637e2,
    rgb(25, 25, 25)
  );
  width: 100%;
  border-radius: 10px;
  opacity: 1;

  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: var(--1w5yolc);
  position: relative;
  text-decoration: none;
}

.textSp2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;

  color: #747474;
  font-weight: 600;
  font-size: 14px;
}
