.perfil {
  /*   display: flex;
  
   */
  object-fit: cover;
  height: min-content;
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #0f0f0f;
  margin-top: 10px;
  border-radius: 10px;
  min-height: 180px;
  padding: 20px;
  border: 1px rgb(33, 33, 33) solid;
}

.containerPerfil {
  display: flex;
  gap: 20px;
}

.txtPerfil {
  color: rgb(255, 255, 255);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  display: grid;
  gap: 10px;
}
.txtPerfil p {
  color: #999999;
  font-size: 13px;
}

.green {
  text-align: center;
  font-size: 10px;
}

.green {
  animation: blink 3s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.textDisponible {
  border: white;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 6px 20px 6px 8px;
  position: relative;
  background-color: #141414;
  border-radius: 50px;
  border: 1px solid rgb(40, 40, 40);
  flex-wrap: nowrap;
  position: relative;
}

.imgPerfil {
  width: 110px;
  background-color: #a290fc;
  border-radius: 10px;

  overflow-clip-margin: content-box;
}

.imgPerfil img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: cover;
  image-rendering: auto;
}

.boxImg1 {
  align-content: center;
  align-items: center;
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
}

.boxImg2 {
  aspect-ratio: 0.9285714285714286 / 1;
  border-radius: 16px;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 108px);
  position: relative;
  width: 100px;
}

.boxImg3 {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
}
.imgInfo {
  width: 6px;
}

/* info perfil */

.fondoInfo {
  padding: 6px 14px 6px 10px;
  display: flex;
  gap: 18px;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  height: min-content;
  justify-content: center;
  overflow: visible;
  position: relative;

  border-radius: 10px;
  border: 1px rgb(33, 33, 33) solid;
}

.developer {
  color: #a290fc;
}

.textInfo {
  color: #cccccc;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.infoDate {
  padding: 15px 10px 16px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.redes {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.container-redes {
  /* matiene las cajas iguales */
  flex: 1 0 0px;
  margin-top: 20px;
  flex-wrap: nowrap;
  background-color: #141414;
  padding: 15px 10px 16px;
  border-radius: 5px;
  display: flex;
  height: auto;
}

.container-redes a {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.redestext p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #999999;
}

/* ............ */

.cajita {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
