.clientes {
  order: 2;
  margin-top: 10px;
  background-color: #141414;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  opacity: 1;

  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
}

.containerClientes {
  padding: 15px;
}

.clientesTxt {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  position: relative;
  width: 100%;
  gap: 20px;
}

.textC1 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #999999;
  font-size: 14px;
}

.textC2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
}

/* slide */

.slider {
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  /*   position: relative;
   */
}

.slide-track:before,
.slide-track:after {
  position: absolute;
  top: 0;
  max-width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.slide-track img {
  background-color: #1f1f1f71;
  border: 1px rgb(33, 33, 33) solid;
  border-radius: 10px;
  height: min-content;
  margin: 0 5px;
}

/* nuevo slide */
.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 150px;
}

.slider .slide img {
  max-width: 100%;
  height: auto;
  align-self: flex-start;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}
